* {
    margin: 0.1;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;

}

#main1 {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 99vw;
    height: 98vh;
    background-image: url(./LoginWallpaper2.jpg);
    background-position: center;
    background-size: cover;
    border: 1px solid black;
    gap: 20px;
}

.container-register {
    flex-direction: column;
    display: flex;
    height: auto;
    width: 36vw;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin-top: 5%;
    margin-left: 1%;

}


.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    height: auto;
    width: 33vw;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.container-register h1 {
    color: rgb(30, 182, 83);
    font-size: 55px;
    font-family: cursive;

}

.form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    font-family: fantasy;
    margin-left: 15%;
}

#users-table {
    width: 37vw;
    color: rgb(18, 20, 18);
    font-size: x-large;
    margin-top: 0%;
    margin: auto;
    text-align: center;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 0 rgba(157, 178, 86, 0.5);
    border: 3px solid rgb(7, 201, 98);

    thead {
        background-color: #b9b1b1;

    }
}

#editing {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-right: 40%;
    top: 29.5rem;
    right: 71rem !important;
    width: 22% !important;
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);

    border-radius: 20px;

    padding: 4px;
    font-size: 20px;
    font-family: cursive;
    color: rgb(8, 11, 9);
    text-align: center;




}



tr {
    border-radius: 40px;
    color: rgb(3, 4, 3);
    align-items: center;

}

.container-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: 2px solid rgb(10, 9, 9);
    margin-top: 12%;

    h1 {
        color: rgb(8, 11, 9);
        font-size: 40px;
        font-family: cursive;
    }
}

#connect-btn {
    border-radius: 15px;
    color: rgb(47, 204, 131);
    font-family: fantasy;
    font-size: 30px;
    align-items: center;
    cursor: pointer;

}

#signUp-btn {
    border-radius: 15px;
    color: rgb(47, 204, 131);
    font-family: fantasy;
    font-size: 28px;
    cursor: pointer;


}

input {
    border-radius: 10px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    width: 90%;
    background-color: azure;
}

body {
    background-color: azure;
}


@media screen and (max-width: 768px) {
    #main1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 10px;
    }

    .container-register,
    .container-login {
        width: 80%;
        height: auto;
        margin-top: 10px;
    }

    #users-table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        font-size: 1rem;
    }

    #connect-btn,
    #signUp-btn {
        font-size: 1.2rem;
        padding: 10px;

    }
}

/**************generate-password*****************/

.pw-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    height: auto;
    width: 21vw;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background-color: rgb(204, 173, 35);
}

.form-controlGenerator {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-family: fantasy;
}



#generate {
    border-radius: 15px;
    color: rgb(47, 204, 131);
    font-family: fantasy;
    font-size: 28px;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 8%;
    cursor: pointer;
    background-color: azure;
}

.pw {
    border-radius: 10px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    width: 100%;
    background-color: azure;
    margin: auto;
    color: rgb(22, 102, 13);
}

.pw-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    height: auto;
    width: 21vw;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}