* {
    margin: 0.1;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;

}

#main1 {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 99vw;
    height: 98vh;
    background-image: url(./LoginWallpaper2.jpg);
    background-position: center;
    background-size: cover;
    border: 1px solid black;
    gap: 20px;
}

.container-register {
    flex-direction: column;
    display: flex;
    height: auto;
    width: 36vw;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin-top: 5%;
    margin-left: 1%;

}


.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    height: auto;
    width: 33vw;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.container-register h1 {
    color: rgb(30, 182, 83);
    font-size: 55px;
    font-family: cursive;

}

.form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    font-family: fantasy;
    margin-left: 15%;
}

#users-table {
    width: 37vw;
    color: rgb(18, 20, 18);
    font-size: x-large;
    font-family: cursive;
    margin-bottom: 5%;
    margin: auto;
    text-align: center;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 0 rgba(157, 178, 86, 0.5);
    border: 3px solid rgb(7, 201, 98);

    thead {
        background-color: #b9b1b1;

    }
}

#editing {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    border: 1px solid black;
    width: 17% !important;
    height: auto;
    background-color: rgba(123, 161, 73, 0.822);
    border-radius: 20px;
    padding: 2px;
    font-size: 18px;
    font-family: cursive;
    color: rgb(8, 11, 9);
    text-align: center;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transform: translatex(50%);
    transform: rotateZ('angle');
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    transform: rotateZ('angle');
    transform: scale(1.1);
}



tr {
    border-radius: 40px;
    color: rgb(3, 4, 3);
    align-items: center;

}

.container-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: 2px solid rgb(10, 9, 9);
    margin-top: 12%;

    h1 {
        color: rgb(8, 11, 9);
        font-size: 40px;
        font-family: cursive;
    }
}

#connect-btn {
    border-radius: 15px;
    color: rgb(47, 204, 131);
    font-family: fantasy;
    font-size: 30px;
    align-items: center;
    cursor: pointer;

}

#signUp-btn {
    border-radius: 15px;
    color: rgb(47, 204, 131);
    font-family: fantasy;
    font-size: 28px;
    cursor: pointer;


}

input {
    border-radius: 10px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    width: 90%;
    background-color: azure;
}

body {
    background-color: azure;
}

/*********************Media Style**********************/

@media screen and (max-width: 768px) {
    #main1 {
        flex-direction: column;
        justify-content: center center;
        align-items: center;
        height: auto;

        width: 100vw;
        text-align: center;
    }

    .container-register,
    .container-login {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    #users-table {
        display: flex;
        flex-direction: column;


        width: 100%;
        font-size: 0.97rem;

    }

    #connect-btn,
    #signUp-btn {
        font-size: 1.2rem;
        padding: 10px;

    }

    #editing {
        display: flex;
        flex-direction: column;
        width: 80% !important;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

}